<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Dynamic Form Fields</span>
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="myForm">
  <mat-form-field class="width100">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="width100">
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>

  <div formArrayName="address">
    <div *ngFor="let address of AddressForm.controls; let i = index;" [formGroupName]="i">
      <mat-form-field class="width25">
        <input matInput placeholder="Street" formControlName="street">
      </mat-form-field>
      <mat-form-field class="width25">
        <input matInput placeholder="City" formControlName="city">
      </mat-form-field>
      <mat-form-field class="width25">
        <input matInput placeholder="State" formControlName="state">
      </mat-form-field>

        <button mat-raised-button color="warn" (click)="deleteAddress(i);">Delete</button>
    </div>
  </div>
</form>

<button mat-raised-button color="primary" (click)="addAddress();">Add Address</button>

<h3 mat-subheader>Form Value</h3>
{{myForm.value | json}}
