<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Nested Forms</span>
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="myForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>
  <div formGroupName="address">
    <mat-form-field class="width30">
      <input matInput placeholder="Street" formControlName="street">
    </mat-form-field>
    <mat-form-field class="width30">
      <input matInput placeholder="City" formControlName="city">
    </mat-form-field>
    <mat-form-field class="width30">
      <input matInput placeholder="State" formControlName="state">
    </mat-form-field>
  </div>
</form>
<h3 mat-subheader>Form Value</h3>
{{myForm.value | json}}
