<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Basic Forms</span>
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]= "myForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>
</form>

<h3 mat-subheader>Form Value</h3>
{{myForm.value | json}}
