<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular 7 Reactive Forms</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-list>
  <h3 mat-subheader>Type of Forms</h3>
  <mat-list-item *ngFor="let form of formsType" (click)="navigation(form?.link)">
    <mat-icon mat-list-icon>{{form?.icon}}</mat-icon>
    <h4 mat-line>{{form?.name}}</h4>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
