<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Form Validation</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list cols="2">
  <mat-grid-tile>
    <form [formGroup]="myForm">
      <mat-form-field class="width100">
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="myForm.controls['name'].errors?.required && myForm.controls['name'].touched">
          Name Required
        </mat-error>
        <mat-error *ngIf="myForm.controls['name'].errors?.minlength && myForm.controls['name'].touched">
          Name must be 3 characters length
        </mat-error>
        <mat-error *ngIf="myForm.controls['name'].errors?.maxlength && myForm.controls['name'].touched">
          Name with in 50 characters length
        </mat-error>
      </mat-form-field>
      <mat-form-field class="width100">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="myForm.controls['email'].errors?.required && myForm.controls['email'].touched">
          Email Required
        </mat-error>
        <mat-error *ngIf="myForm.controls['email'].errors?.email && myForm.controls['email'].touched">
          Please enter valid email
        </mat-error>
      </mat-form-field>
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <label>Gender</label>
        <br>
        <mat-radio-button value="M" name="gender">Male</mat-radio-button>
        <mat-radio-button value="F" name="gender">Female</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="myForm.controls['gender'].errors?.required && myForm.controls['gender'].touched">
        Gender Required
      </mat-error>
      <br>
      <br>
      <mat-checkbox class="example-margin" formControlName="terms">Agree</mat-checkbox>
      <mat-error *ngIf="myForm.controls['terms'].errors?.required && myForm.controls['terms'].touched">
        Gender Required
      </mat-error>
      <br>
      <br>
      <br>
      <button mat-raised-button color="primary"  [disabled]="myForm.invalid">Submit</button>
    </form>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-chip-list>
      <mat-chip *ngIf="myForm.valid" color="primary" selected>Form Valid</mat-chip>
      <mat-chip *ngIf="!myForm.valid" color="warn" selected>Form In Valid</mat-chip>
      <mat-chip *ngIf="myForm.controls['name'].touched" color="primary" selected>Name Touched</mat-chip>
      <mat-chip *ngIf="myForm.controls['name'].pristine" color="warn" selected>Name Pristine</mat-chip>
      <mat-chip *ngIf="myForm.controls['name'].valid" color="primary" selected>Name Valid</mat-chip>
      <mat-chip *ngIf="myForm.controls['name'].invalid" color="warn" selected>Name Invalid</mat-chip>
    </mat-chip-list>
  </mat-grid-tile>

</mat-grid-list>
