<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Playing with Reactive Forms and Form Controls</span>
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="myForm">
  <mat-form-field class="width100">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <mat-checkbox class="example-margin" formControlName="laptop" (change)="handleControl($event)">I have Laptop</mat-checkbox>
  <mat-form-field class="width100">
    <input matInput placeholder="Laptop Name" formControlName="laptopName">
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="myForm.invalid">Submit</button>
</form>
<br>
<button mat-raised-button color="primary" (click)="setName()">Set Name</button>
<button mat-raised-button color="primary" (click)="resetForm()">Reset Form</button>
<h3 mat-subheader>Form Value</h3>
{{myForm.value | json}}
